.comment_container {
  width: 100%;
  justify-content: space-between !important;
  flex-direction: column;
  gap: 1.5em;
  padding: 20px 0 0 0;
  border-top: 2px solid var(--top-border-silver);
  position: relative;
}

.comment_name {
  width: 100%;
  justify-content: space-between !important;
  flex-wrap: wrap;
}

.comment_content {
  align-self: flex-start;
  font-size: 0.9rem;
}
